* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
    font-family:'PT-Serif';
    src: url("font/PT_Serif-Caption-Web-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family:'Cabin';
    src: url("font/Cabin-SemiBold.ttf");
    font-style: normal;
}


body {
    font-family:'Cabin';
    font-size: 19px;
    padding: 12px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 22px;
}

p {
    
}

a, a:visited, a:hover, a:active, a:link {
    color:#000000; 
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-family:'Cabin';
    font-weight: normal;
    letter-spacing:3px;
    font-size: 16px;
    line-height: 20px;
}

h2 {
    font-family:'Cabin';
    font-weight: normal;
    margin-left: 130px;
    letter-spacing:3px;
    font-size: 16px;
    line-height: 20px;
}

.underlined {
    display: inline-block;
    border-bottom: 2px solid cyan; 
    font-size: 16px; 
    line-height: 14px; 
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -111;
}

@col: 430px;
@ext-margin: 10px;
@gutter: 25px;


.white-box {
    background-color: white;
    width: 7*@col + 2*@ext-margin;
    height: 850px;
    margin-top: 80px;
    margin-left:100px;
    padding: @ext-margin;
}

.box-in-box {
    width: 430px;
    float: left;
    padding: @gutter;
}

.big-box-in-box {
    width: 860px;
    float: left;
    padding: @gutter;
    clear: both;
}

.cv-box {
    background-color: white;
    width: 2*@col + 2*@ext-margin;
    height: 850px;
    margin-top: 80px;
    margin-left:100px;
    padding: @ext-margin;
}


