* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family:'Cabin';
    src: url("font/Cabin-SemiBold.ttf");
    font-style: normal;
}

@font-face {
    font-family:'Cabin';
    src: url("font/Cabin-SemiBoldItalic.ttf");
    font-style: italic;
}

@factor: 0.9;
@line-height: 23px*@factor;

body {
    font-family:'Cabin';
    font-size: 19px*@factor;
    padding: 12px;
    letter-spacing: 0.5px;
    line-height: @line-height;
}

p {
    
}

a, a:visited, a:hover, a:active, a:link {
    color:#000000; 
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-family:'Cabin';
    font-weight: normal;
    letter-spacing:3px;
    font-size: 16px*@factor;
    line-height: @line-height;
}

h2 {
    font-family:'Cabin';
    font-weight: normal;
    margin-left: 30px;
    letter-spacing:3px;
    font-size: 16px;
    line-height: @line-height;
}
//title in the CV:
h3 {
    font-family:'Cabin';
    font-weight: normal;
    letter-spacing:3px;
    font-size: 16px;
    line-height: @line-height;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    display:none;
}
//dates CV:
h4 {
    font-family:'Cabin';
    font-weight: normal;
//    margin-left: 30px;
    letter-spacing:3px;
    font-size: 16px*@factor;
    line-height: @line-height;
}

a {
    border-bottom: 2px solid yellow; 
    line-height: 16px;
}

.underlined {
    display: inline-block;
    border-bottom: 2px solid cyan; 
    font-size: 16px; 
    line-height: @line-height; 
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -111;
}

/* COLUMNS LAYOUT */


@col: 350px*@factor;
@ext-margin: 10px*@factor;
@gutter: 15px*@factor;


.white-box {
    background-color: white;
    width: 5*@col + 2*@ext-margin;
    padding: @ext-margin;
}

.col1 {
    width: (@col+5px) * @factor;
    padding: @gutter;
    float: left;
}

.col2 {
    width: 2*@col+15px;
    float: left;
    padding-top: @gutter;
}

.col3 {
    width: 530px*@factor;
    float: left;
    padding-top: @gutter;
    padding-left: 2*@gutter;
}

.box-in-box {
    display: inline-block;
    width: (@col+5px) * @factor;
}

.biox {
    display: inline-block;
}

.box.IM {
    margin-left: -@gutter;
    margin-top: 5px;
    margin-bottom:-@gutter;
    display: inline-block;
}

// (images)


.columns-images {
    clear: both;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 50px;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
}

// styles the images’ div
.divimages {
    margin-bottom: 30px*@factor;
}

// styles the images
.images {
    width: 500px*@factor;
    margin-bottom: 15px*@factor;
}

/*only on the screen*/

@media screen {
    .print-only {
        display:none;
    }
    .columns {
        clear: both;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-gap: 15px;
        -moz-column-gap: 15px;
        -webkit-column-gap: 15px;
    }
    // only boxes in the CV:
    .box {
    width: @col;
    padding-left: 2*@gutter;
    padding-bottom: 1.5*@line-height;
    display: inline-block;
}
// (images)
    .col4 {
        width: 1100px;
        float: left;
        padding-top: @gutter;
        padding-left: 2*@gutter;
    }
    .img {
        width: 320px*@factor;
        margin-bottom: 15px*@factor;
        margin-top: 15px*@factor;
    }
    .screen-only {
      
    }
}

/*only in print*/

@media print {
    .screen-only {
        display:none;
    }
    .box {
    width: 1.8*@col;
    padding-left: 4*@gutter;
    padding-bottom: 1.5*@line-height;
    display: inline-block;
    }
    /*page break*/
    .break {
        page-break-before: always;
    }
    // (images)
    .col4 {
        width: 510px/@factor;
        float: left;
        padding-top: @gutter/@factor;
        padding-left: 2*@gutter/@factor;
    }
    .img {
        width: 1.6*@col/@factor;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .box {
        page-break-inside: avoid;
    }
    .print-only {
      
    }
}
